.product-h5{
    color: rgb(206, 24, 161) 
}
.product img {
    width: 220px;
    height: 300px;
}
.product .prices{
    display: flex;

}
.product .price{
    margin-left: 10px;
    padding: 5px;
}

.product .total{
    margin: 5px;
    padding: 2px;
}